#vbox {
    -fx-background-image: url('../Images/MenuImages/ChooseFactionMenuBackground.png');
    -fx-background-size:     cover;                      /* <------ */
    -fx-background-repeat:   no-repeat;
    -fx-background-position: center center;              /* optional, center the image */
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,255) , 30,0.5,0,1 );

}





