
#riverHexagon {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";

}

#riverHexagon15 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river15.png");
}

#riverHexagon16 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river16.png");

}

#riverHexagon19 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river19.png");

}

#riverHexagon20 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river20.png");

}

#riverHexagon23 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river23.png");

}

#riverHexagon24 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river24.png");

}

#riverHexagon27 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river27.png");

}

#riverHexagon29 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river29.png");

}

#riverHexagon31 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river31.png");

}

#riverHexagon33 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river33.png");

}

#riverHexagon35 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river35.png");

}

#riverHexagon37 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river37.png");

}

#riverHexagon42 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river37.png");

}

#riverHexagon43 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river27.png");

}

#riverHexagon46 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river33.png");

}

#riverHexagon48 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river48.png");

}

#riverHexagon59 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river59.png");

}

#riverHexagon60 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river60.png");

}

#riverHexagon66 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river15.png");

}

#riverHexagon67 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river16.png");

}

#riverHexagon70 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river15.png");

}

#riverHexagon71 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river71.png");

}

#riverHexagon72 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river72.png");

}

#riverHexagon77 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river77.png");

}

#riverHexagon78 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river27.png");

}

#riverHexagon80 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river80.png");

}

#riverHexagon82 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river31.png");

}

#riverHexagon84 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river84.png");

}

#riverHexagon92 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river92.png");

}

#riverHexagon93 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river93.png");

}

#riverHexagon94 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river27.png");

}

#riverHexagon97 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river29.png");

}

#riverHexagon110 {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/RiverImages/river80.png");

}