#blackHexagon {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/TerrainImages/blackTerrain.png");
}
#blueHexagon {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/TerrainImages/blueTerrain.png");
}
#brownHexagon {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/TerrainImages/brownTerrain.png");
}
#greenHexagon {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/TerrainImages/greenTerrain.png");
}
#redHexagon {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/TerrainImages/redTerrain.png");
}
#whiteHexagon {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/TerrainImages/whiteTerrain.png");
}
#yellowHexagon {
    -fx-shape:"M 250 250 L 350 300 L 450 250 L 450 150 L 350 100 L 250 150 L 250 250 ";
    -fx-background-image: url("../Images/TerrainImages/yellowTerrain.png");
}





#islam_track{
    -fx-background-image: url("../Images/air.png");
}
#christ_track{
    -fx-background-image: url("../Images/fire.png");
}
#jew_track{
    -fx-background-image: url("../Images/earth.png");
}
#budism_track{
    -fx-background-image: url("../Images/water.png");
}
#board{
    -fx-background-image: url("../Images/religion_board.jpg");
}
#islam_token_order{
    -fx-background-image: url("../Images/islam_token_order.jpg");
}