.test{
    -fx-background-color: #D5563B;
}
.button {
    -fx-background-color: transparent;
}

.button:hover{
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,255) , 30,0.5,0,1 );
}

#blackHexagon {
    -fx-background-image: url("../Images/TerrainImages/swamp.png");
}
#blueHexagon {
    -fx-background-image: url("../Images/TerrainImages/lakes.png");
}
#brownHexagon {
    -fx-background-image: url("../Images/TerrainImages/plains.png");
}
#greenHexagon {
    -fx-background-image: url("../Images/TerrainImages/forest.png");
}
#redHexagon {
    -fx-background-image: url("../Images/TerrainImages/wasteland.png");
}
#whiteHexagon {
    -fx-background-image: url("../Images/TerrainImages/mountains.png");
}
#yellowHexagon {
    -fx-background-image: url("../Images/TerrainImages/desert.png");
}

#islam_track{
    -fx-background-image: url("../Images/air.png");

}
#christ_track{
    -fx-background-image: url("../Images/fire.png");
}
#jew_track{
    -fx-background-image: url("../Images/earth.png");
}
#main_pane{
    -fx-background-image: url("../Images/ReligionImages/religion_bg.png");
}
#budism_track{
    -fx-background-image: url("../Images/water.png");
}
#board{
    -fx-background-image: url("../Images/religion_board.jpg");
}
#islam_token_order{
    -fx-background-image: url("../Images/islam_token_order.jpg");
}
.religionBackground {
    -fx-background-image: url("../Images/ReligionImages/religion_bg.png");
    -fx-background-size: cover;
}
.paneBackground {
    -fx-background-image: url("../Images/bg_game.png");
    -fx-background-size: cover;
}
.islam_symbol{
    -fx-background-image: url("../Images/ReligionImages/islam_symbol.png");
    -fx-background-size: cover;
}
.judaism_symbol{
    -fx-background-image: url("../Images/ReligionImages/judaism_symbol.png");
    -fx-background-size: cover;
}
.hinduism_symbol{
    -fx-background-image: url("../Images/ReligionImages/hinduism.png");
    -fx-background-size: cover;
}
.chris_symbol{
    -fx-background-image: url("../Images/ReligionImages/chris_symbol.png");
    -fx-background-size: cover;
}