.textShadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 10, 1, 1);
}

.wasteland{
    -fx-background-color: rgba(136, 0, 18, 0.56);
}

.plains{
    -fx-background-color: rgba(136, 76, 29, 0.51);
}

.lakes{
    -fx-background-color: rgba(0, 122, 136, 0.51);
}

.desert{
    -fx-background-color: rgba(133, 128, 50, 0.51);
}

.mountains{
    -fx-background-color: rgba(126, 123, 118, 0.5);
}

.swamp{
    -fx-background-color: rgba(48, 45, 38, 0.52);
}

.forest{
    -fx-background-color: rgba(6, 127, 4, 0.51);
}

.button {
    -fx-background-color: transparent;

    width: 200px;
    height: 400px;
    object-fit: cover;
}

.button:hover{
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,255) , 30,0.5,0,1 );
}

#blackHexagon {
    -fx-background-image: url("../Images/TerrainImages/swamp.png");
}
#blueHexagon {
    -fx-background-image: url("../Images/TerrainImages/lakes.png");
}
#brownHexagon {
    -fx-background-image: url("../Images/TerrainImages/plains.png");
}
#greenHexagon {
    -fx-background-image: url("../Images/TerrainImages/forest.png");
}
#redHexagon {
    -fx-background-image: url("../Images/TerrainImages/wasteland.png");
}
#whiteHexagon {
    -fx-background-image: url("../Images/TerrainImages/mountains.png");
}
#yellowHexagon {
    -fx-background-image: url("../Images/TerrainImages/desert.png");
}

#islam_track{
    -fx-background-image: url("../Images/air.png");

}
#christ_track{
    -fx-background-image: url("../Images/fire.png");
}
#jew_track{
    -fx-background-image: url("../Images/earth.png");
}
#main_pane{
    -fx-background-image: url("../Images/ReligionImages/religion_bg.png");
}
#budism_track{
    -fx-background-image: url("../Images/water.png");
}
#board{
    -fx-background-image: url("../Images/religion_board.jpg");
}
#islam_token_order{
    -fx-background-image: url("../Images/islam_token_order.jpg");
}
.religionBackground {
    -fx-background-image: url("../Images/ReligionImages/religion_bg.png");
    -fx-background-size: cover;
}
.paneBackground {
    -fx-background-image: url("../Images/bg_game.png");
    -fx-background-size: cover;
}
.islam_symbol{
    -fx-background-image: url("../Images/ReligionImages/islam_symbol.png");
    -fx-background-size: cover;
}
.judaism_symbol{
    -fx-background-image: url("../Images/ReligionImages/judaism_symbol.png");
    -fx-background-size: cover;
}
.hinduism_symbol{
    -fx-background-image: url("../Images/ReligionImages/hinduism.png");
    -fx-background-size: cover;
}
.chris_symbol{
    -fx-background-image: url("../Images/ReligionImages/chris_symbol.png");
    -fx-background-size: cover;
}